[submodule "Assets\\Scripts\\"]
	path = Assets\\Scripts\\
	url = https://github.com/LovelyCatHyt/Unitilities.git
[submodule "Assets/Scripts/Unitilities"]
	path = Assets/Scripts/Unitilities
	url = https://github.com/LovelyCatHyt/Unitilities.git
